# ***빅데이터분석기사 실기 2회 문제 복원 및 풀이***

blog : https://blog.naver.com/lcaomo <br>
tistory : https://eatchu.tistory.com/ <br>
github : https://github.com/eatchu

---
## ***단답형***
---
*문제는 기억이안나서 답만 적음 (순서 상관x)*
1. 이상치
2. 평균대치법
3. 비지도학습
4. 부스팅
5. 그래디언트 부스트
    - 그래디언트 부스팅인데 부스트라고 적어서 오답처리 될 줄 알았는데 맞다고해줌
6. 하이퍼파라미터
7. 후진제거법
8. 과대적합
9. roc curve
10. 은닉층 계산 문제
    - 정확한 문제는 아님. 대충 비슷하게 복원.
    > input의 $x_1 = 0.5, x_2 = -0.6$ 이고 <br> 각각의 가중치와 편향이 $w_1 = 0.1$,  $b_1 = -0.1$, $w_2 = 0.2$,  $b_2 = 0.05$ 일때 <br>
    hidden layer($h_1$)의 값을 구하시오. <br> (단 $h_1 < 0$ 이면 $h_1$ = -1)
    - $(w_1 * x_1 + b_1) + (w_2 * x_2 + b_2) = (0.1 * 0.5 - 0.1) + (0.2 * -0.6 + 0.05) = -0.12$
    - 음수값이므로 $h_1 = -1$

In [1]:
import pandas as pd
pd.set_option('mode.chained_assignment',  None)

---
## ***작업형 1유형***
---
<br>

#### *1번 문제 : 평균 구하기*
>*주어진 Dataset에서 CRIM값이 가장 큰 10개의 지역을 구하고* <br>
*10개의 지역의 CRIM값을 그 중 가장 작은 값으로 대체함* <br>
*AGE 컬럼 값이 80이상인 대체 된 CRIM 평균값을 구하라*

In [2]:
# Dataset Load
# 실제 시험에 사용된 데이터셋을 만들기 위한 코드
from sklearn import datasets

dataset = datasets.load_boston()
df = pd.DataFrame(dataset.data, columns=dataset.feature_names)
df['target'] = dataset.target
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [3]:
# TEST
import pandas as pd

# CRIM 컬럼 기준으로 데이터 내림차순 정렬
df = df.sort_values('CRIM', ascending=False)

# CRIM값이 가장 큰 10개의 값중 가장 작은 값 추출
min_crim = df[:10]['CRIM'].min()

# 가장 큰 10개의 값 대체
df.iloc[:10, 0] = min_crim

# 대체 후 AGE 칼럼값이 80이상인 CRIM값들의 평균
result = df.loc[df['AGE']>=80, 'CRIM'].mean()
print('최종 결과 : ', result)

최종 결과 :  5.759386624999999

<br>

#### *2번 문제 : 표준편차 비교하기*
> *주어진 Dataset에서 total_bedrooms컬럼의 중앙값으로 해당 컬럼의 결측치를 대체함* <br>
*해당 컬럼 대치 전후의 표준편차 차이를 구하라*

In [4]:
# Dataset Load
# 실제 시험에 사용된 데이터셋을 만들기 위한 코드
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import tarfile
from six.moves import urllib

DOWNLOAD_ROOT = "https://raw.githubusercontent.com/ageron/handson-ml/master/"
HOUSING_PATH = os.path.join("datasets", "housing")
HOUSING_URL = DOWNLOAD_ROOT + "datasets/housing/housing.tgz"

def fetch_housing_data(housing_url=HOUSING_URL, housing_path=HOUSING_PATH):
    if not os.path.isdir(housing_path):
        os.makedirs(housing_path)
    tgz_path = os.path.join(housing_path, "housing.tgz")
    urllib.request.urlretrieve(housing_url, tgz_path)
    housing_tgz = tarfile.open(tgz_path)
    housing_tgz.extractall(path=housing_path)
    housing_tgz.close()
fetch_housing_data()

def load_housing_data(housing_path = HOUSING_PATH):
    csv_path = os.path.join(housing_path, "housing.csv")
    return pd.read_csv(csv_path)   

df = load_housing_data()
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [5]:
# TEST
import numpy as np
import pandas as pd

# 대체 전 표준편차 계산
bf_std = np.std(df['total_bedrooms'])

# 결측치 채우기
df['total_bedrooms'].fillna(df['total_bedrooms'].median(), inplace=True)

# 대체 후 표준편차 계산
af_std = np.std(df['total_bedrooms'])

# 표준편차 차이 비교
result = bf_std - af_std
print('최종 결과 : ', result)

최종 결과 :  1.9930404509456139

<br>

#### *3번 문제 : 이상치 합 구하기*
- 해당 문제는 시험에 사용된 데이터셋을 구하지 못해 2번 문제의 데이터셋을 사용하겠습니다.
> 주어진 Dataset의 total_rooms컬럼의 평균으로 부터 1.5 * 표준편차를 벗어나는 영역을 이상치라고 판단하고 <br> 이상치들의 합을 구하여라.

In [6]:
# TEST
import numpy as np
import pandas as pd

# 1.5 * std값 구하기
std = np.std(df['total_rooms']) * 1.5

# 컬럼의 평균에 이상치 영역의 min, max 구하기
min_std, max_std = df['total_rooms'].mean() - std, df['total_rooms'].mean() + std

# min-max 범위를 벗어나는 값을 선택하여 합계 구하기
result = df.loc[(df['total_rooms'] > max_std) | (df['total_rooms'] < min_std), 'total_rooms'].sum()
print('최종 결과 : ', result)

최종 결과 :  10707239.0

---
## ***작업형 2유형***
---
dataset : https://www.kaggle.com/prachi13/customer-analytics (해당 링크에서 데이터를 다운받아 사용해주세요.) <br>
인터넷에서 동일한 데이터셋이라고 봤는데 실제 동일한 데이터인지는 확신할 수 없습니다.

---
일단 문제풀기에 앞서 주관적인 생각과 데이터 처리방식에 대해 간단히 적어보겠습니다.
 - 작업2유형에서는 힘을 전혀 안주고 만들었습니다. **즉, 가장 basic한 모델을 만들 생각을 하고 있었습니다.**
 - 단답형과 작업1유형에 크게 실수만 하지 않는다면 작업2유형에 꼭 높은 점수를 받을 필요가 없다 생각했고 시험에서도 까다로운 데이터를 주지 않을 것이라고 생각했습니다.
 - 이미 시험보기전부터 **rf모델**을 사용하려고 했구요 (rf가 ml모델중 대충 기본 이상은 함)
 - 정확도를 올리려고 노력할 생각이 없어서 **스케일링 사용 안했고** 범주 컬럼 라벨링도 그냥 **Labelencoder사용**했습니다. (모델 돌아가는데 크게 문제 없습니다.)
 - 코드실행시간이 1분으로 제한되어 있어서 **하이퍼파라미터 최적화도 진행하지 않았습니다.** (GridSearchCV)
 - 해당 코드에서는 train에대한 roc-auc-score가 0.5정도 나왔는데 시험에서는 동일한 코드로 0.67정도 나왔습니다.<br> 실제 정답에 대해서는 몇점이 나왔는지 모르겠지만.. 아마 비슷하게 나왔을텐데 저도 왜 만점을 받았는지에 대해선 의문이긴 하네요
 
**따라서 정확도를 높이고 좀 더 좋은 성능의 모델을 만들고자 함이라면 이 코드는 별 도움은 안될것 같습니다**

In [2]:
# Dataset Load
# 실제 시험에 사용된 데이터셋을 만들기 위한 코드
import pandas as pd
from sklearn.model_selection import train_test_split

# kaggle에서 dataset을 download하여 사용
df = pd.read_csv('./Train.csv')

# 실제 시험에서 제공된 데이터셋과 동일하게 만들기 위하여 x,y 및 train, test를 임의로 split
# Gender컬럼이 target변수로 사용되었으므로 X컬럼에서 제외
X = df.drop(['ID','Gender'], axis=1)
# 실제로는 int type의 Discount_offered 데이터셋이지만 해당 시험에서 임의로 문자열을 집어넣어 해당 컬럼을 object type으로 바꾸어 놓았음
X['Discount_offered'] = X.Discount_offered.astype(str)
X.loc[X['Discount_offered']=='7', 'Discount_offered'] = '7*'

# target변수인 Gender컬럼을 'M'->1, 'F'->0으로 라벨링
y = pd.Series([1 if df.loc[i, 'Gender']=='M' else 0 for i in range(len(df))])

# train/test = 8:2 임의로 split
# 시험에서는 y_test값을 제공하지 않기 때문에 여기서도 사용하지 않음
X_train, X_test, y_train, _ = train_test_split(X, y, train_size=0.8, shuffle=False)
print(X_train.shape, X_test.shape, y_train.shape)

(8799, 10) (2200, 10) (8799,)

In [3]:
# 해당시험에서 사용한 패키지
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score

In [4]:
# 해당 시험에서 제공해준 컬럼 정보에 Discount_offered 컬럼이 int type이었지만
# 제공받은 데이터셋에서는 Discount_offered 컬럼이 object type으로 되어있어
# Discount_offered 컬럼에 잘 못 들어간 문자열을 제거해 int type으로 다시 바꿔주는 작업을 진행함

# 컬럼내에 문자값이 들어있는 row를 찾고 해당 row의 문자값을 삭제
X_train.loc[(X_train.Discount_offered.str.contains('(\D)')),'Discount_offered'] \
= X_train.loc[(X_train.Discount_offered.str.contains('(\D)')),'Discount_offered'].str.replace('(\D)','') 

X_train.Discount_offered = X_train.Discount_offered.astype(int) # int type 변환

X_train['Discount_offered'].dtypes

/Users/depark/opt/anaconda3/lib/python3.8/site-packages/pandas/core/strings.py:2001: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

dtype('int64')

In [5]:
# object column labeling
obj_col = X_train.select_dtypes(include='object').columns
le = [LabelEncoder() for i in range(len(obj_col))]
for l in range(len(obj_col)):
    X_train[obj_col[l]] = le[l].fit_transform(X_train[obj_col[l]])

In [6]:
X_train.head()

,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
0,3,0,4,2,177,3,1,44,1233,1
1,4,0,4,5,216,2,1,59,3088,1
2,0,0,2,2,183,4,1,48,3374,1
3,1,0,3,3,176,4,2,10,1177,1
4,2,0,2,2,184,3,2,46,2484,1

In [7]:
# y_test 데이터가 없으므로 x_train,y_train 데이터를 다시 split하여 점수 확인용으로 사용
# 실제 시험에서는 score 확인만 하시고 해당 코드 블럭은 지워주셔야해요.
train_x, test_x, train_y, test_y = train_test_split(X_train, y_train, train_size=0.8)

# modeling
rf_model = RandomForestClassifier()
rf_model.fit(train_x, train_y)
prediction = rf_model.predict(test_x)
roc_auc = roc_auc_score(test_y, rf_model.predict_proba(test_x)[:, 1])
print('***** roc : ', roc_auc, ' *****')

***** roc :  0.5084157469411376  *****

In [8]:
# x_test 전처리 진행 : x_train 처리 방식과 동일
# 숫자형 컬럼으로 변환과정
X_test.loc[(X_test.Discount_offered.str.contains('(\D)')),'Discount_offered'] \
= X_test.loc[(X_test.Discount_offered.str.contains('(\D)')),'Discount_offered'].str.replace('(\D)','') 
X_test.Discount_offered = X_test.Discount_offered.astype(int) # int type 변환
# 라벨인코딩
for l in range(len(obj_col)):
    X_test[obj_col[l]] = le[l].transform(X_test[obj_col[l]])
    
X_test.head()

/Users/depark/opt/anaconda3/lib/python3.8/site-packages/pandas/core/strings.py:2001: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
8799,1,2,2,4,248,3,1,7,4142,0
8800,2,2,3,3,232,2,2,8,5544,1
8801,4,2,5,2,164,3,2,6,4302,0
8802,3,2,3,3,211,3,2,3,5379,1
8803,4,2,3,5,195,2,2,9,5832,0

In [9]:
rf_model = RandomForestClassifier()
rf_model.fit(X_train, y_train)
prediction = rf_model.predict(X_test)
# 최종 제출 값
result = pd.DataFrame(rf_model.predict_proba(X_test)[:, 1], columns=['test'])

In [10]:
# result.to_csv('./수험번호.csv', index=False)