## Q1. 주어진 전체 기간의 각 나라별 골득점수 상위 5개 국가와 그 득점수를 데이터프레임형태로 출력하라

In [1]:
import pandas as pd

df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv')
df

                   Player  Goals                Years     Country
0          Miroslav Klose     16  2002-2006-2010-2014     Germany
1                 Ronaldo     15       1998-2002-2006      Brazil
2             Gerd Muller     14            1970-1974     Germany
3           Just Fontaine     13                 1958      France
4                    Pele     12  1958-1962-1966-1970      Brazil
...                   ...    ...                  ...         ...
1290        Josip Skoblar      1                 1962  Yugoslavia
1291          Safet Susic      1            1982-1990  Yugoslavia
1292  Aleksandar Tirnanic      1                 1930  Yugoslavia
1293  Djordje Vujadinovic      1                 1930  Yugoslavia
1294         Branko Zebec      1            1954-1958  Yugoslavia

[1295 rows x 4 columns]

In [2]:
df.groupby('Country').sum().sort_values('Goals', ascending=False).head(5)

           Goals
Country
Brazil       228
Germany      226
Argentina    135
Italy        123
France       115

## Q2. 주어진 전체기간동안 골득점을 한 선수가 가장 많은 나라 상위 5개 국가와 그 선수 숫자를 데이터 프레임 형식으로 출력하라

In [3]:
df.groupby(['Country', 'Player']).sum()

                                Goals
Country    Player
Algeria    Abdelmoumene Djabou      2
           Djamel Zidane            1
           Islam Slimani            2
           Lakhdar Belloumi         1
           Rabah Madjer             1
...                               ...
Yugoslavia Vladimir Petrovic        1
           Vladislav Bogicevic      1
           Vojislav Melic           1
           Zdravko Rajkov           1
           Zeljko Cajkovski         2

[1291 rows x 1 columns]

In [4]:
df.groupby(['Country', 'Player']).sum().sort_values('Goals', ascending=False)

                          Goals
Country Player
Germany Miroslav Klose       16
Brazil  Ronaldo              15
Germany Gerd Muller          14
France  Just Fontaine        13
Brazil  Pele                 12
...                         ...
Mexico  Gustavo Pena          1
        Hector Hernandez      1
        Hector Ortiz          1
        Hirving Lozano        1
Italy   Bruno Mora            1

[1291 rows x 1 columns]

In [5]:
df.groupby('Country').size().sort_values(ascending=False).head(5) # size : 전체 원소의 개수 숫자는 goal에만 있으니까

Country
Brazil       81
Germany      78
Italy        60
Argentina    59
France       58
dtype: int64

## Q3. Years 컬럼은 년도 -년도 형식으로 구성되어있고, 각 년도는 4자리 숫자이다. 년도 표기가 4자리 숫자로 안된 케이스가 존재한다. 해당 건은 몇건인지 출력하라

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1295 entries, 0 to 1294
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Player   1295 non-null   object
 1   Goals    1295 non-null   int64
 2   Years    1295 non-null   object
 3   Country  1295 non-null   object
dtypes: int64(1), object(3)
memory usage: 40.6+ KB

In [7]:
df['yearLst'] = df.Years.str.split('-')
df['yearLst']

0       [2002, 2006, 2010, 2014]
1             [1998, 2002, 2006]
2                   [1970, 1974]
3                         [1958]
4       [1958, 1962, 1966, 1970]
                  ...
1290                      [1962]
1291                [1982, 1990]
1292                      [1930]
1293                      [1930]
1294                [1954, 1958]
Name: yearLst, Length: 1295, dtype: object

In [8]:
len(df['yearLst'])

1295

In [9]:
len(df['yearLst'][3])

1

In [10]:
len(str(df['yearLst'][3]))

8

In [11]:
str(df['yearLst'][3])

"['1958']"

In [12]:
# 뭔소링야

# count = 0
# j=0
# for j in range(len(df['yearLst'])):
#     if len(str(df['yearLst'][j])) > 8:
#         count += 1
# print(count)

In [13]:
df['yearLst'] = df.Years.str.split('-')

def checkFour(x):
    for value in x:
        if len(str(value)) != 4:
            return False
        
    return True
    
df['check'] = df['yearLst'].apply(checkFour)

result = len(df[df.check ==False])
result

45

In [14]:
df2 = df[df.check ==True].reset_index(drop=True)
print(df2.shape[0])

1250

## Q4.월드컵 출전횟수를 나타내는 ‘LenCup’ 컬럼을 추가하고 4회 출전한 선수의 숫자를 구하여라

In [15]:
df2['LenCup'] =df2['yearLst'].str.len()

In [16]:
len(df2[(df2['yearLst'].str.len() == 4) == True])

16

## Q5. Yugoslavia 국가의 월드컵 출전횟수가 2회인 선수들의 숫자를 구하여라

In [17]:
len(df2[((df2['yearLst'].str.len() == 2) == True) & (df2['Country'] == 'Yugoslavia') == True])

7

## Q6. 2002년도에 출전한 전체 선수는 몇명인가?

In [18]:
df2

,Player,Goals,Years,Country,yearLst,check,LenCup
0,Miroslav Klose,16,2002-2006-2010-2014,Germany,"[2002, 2006, 2010, 2014]",True,4
1,Ronaldo,15,1998-2002-2006,Brazil,"[1998, 2002, 2006]",True,3
2,Gerd Muller,14,1970-1974,Germany,"[1970, 1974]",True,2
3,Just Fontaine,13,1958,France,[1958],True,1
4,Pele,12,1958-1962-1966-1970,Brazil,"[1958, 1962, 1966, 1970]",True,4
...,...,...,...,...,...,...,...
1245,Josip Skoblar,1,1962,Yugoslavia,[1962],True,1
1246,Safet Susic,1,1982-1990,Yugoslavia,"[1982, 1990]",True,2
1247,Aleksandar Tirnanic,1,1930,Yugoslavia,[1930],True,1
1248,Djordje Vujadinovic,1,1930,Yugoslavia,[1930],True,1
1249,Branko Zebec,1,1954-1958,Yugoslavia,"[1954, 1958]",True,2

In [25]:
count = 0
for i in range(1250):
    if '2002' in str(df['yearLst'][i]):
        count+=1
print(count)

156

## Q7. 이름에 ‘carlos’ 단어가 들어가는 선수의 숫자는 몇 명인가? (대, 소문자 구분 x)

In [30]:
count = 0
for i in range(1250):
    if 'Carlos' in str(df['Player'][i]):
        count+=1
print(count)

13

## Q8. 월드컵 출전 횟수가 1회뿐인 선수들 중에서 가장 많은 득점을 올렸던 선수는 누구인가?

In [52]:
display(df2[df2['LenCup'] == 1].sort_values('Goals', ascending= False).Player.values[0]) # ()랑 [] 주의

'Just Fontaine'

## Q9. 월드컵 출전횟수가 1회 뿐인 선수들이 가장 많은 국가는 어디인가?

In [64]:
for i in range(1250):
    if df2['LenCup'][i] == 1:
        print(df2['Country'][i])
# 난 여기서 add해서 중복제거 해서 가장 많이 중복제거된 거 고르려고 했었음

France
Hungary
Brazil
Portugal
Argentina
Austria
Colombia
England
Germany
Italy
Russia
Switzerland
Czech
Hungary
Italy
Northern Ireland
Spain
Sweden
Uruguay
Argentina
Brazil
Chile
Chile
Czech
Denmark
France
France
France
Germany
Germany
Hungary
Italy
Italy
Poland
Russia
Slovakia
Spain
Sweden
Sweden
Sweden
Switzerland
Uruguay
Uruguay
USA
USSR
USSR
USSR
Yugoslavia
Argentina
Argentina
Argentina
Austria
Austria
Belgium
Belgium
Brazil
Brazil
Brazil
Brazil
Brazil
Brazil
Brazil
Brazil
Colombia
Czech
Ecuador
England
England
England
France
Germany
Hungary
Ireland
Italy
Netherlands
Northern Ireland
Portugal
Portugal
Russia
Senegal
Spain
Spain
Sweden
Sweden
Sweden
Sweden
Sweden
Switzerland
Turkey
Turkey
Turkey
Uruguay
Uruguay
USSR
Yugoslavia
Yugoslavia
Yugoslavia
Yugoslavia
Algeria
Algeria
Argentina
Argentina
Argentina
Australia
Austria
Austria
Austria
Belgium
Brazil
Brazil
Brazil
Brazil
Brazil
Brazil
Brazil
Brazil
Brazil
Brazil
Brazil
Brazil
Brazil
Bulgaria
Chile
Chile
Chile
Chile
Chile
Chile
Colombia
Colombia
Costa Rica
Cote dIvoire
Cote dIvoire
Croatia
Cuba
Czech
Czech
Czech
Czech
Czech
Czech
Czech Republic
Denmark
Egypt
Egypt
England
England
England
England
England
England
France
France
France
France
Germany
Germany
Germany
Germany
Germany
Germany
Ghana
Haiti
Hungary
Hungary
Hungary
Hungary
Italy
Italy
Italy
Italy
Jamaica
Japan
Mexico
Mexico
Mexico
Mexico
Mexico
Morocco
Morocco
Morocco
Netherlands
Netherlands
Netherlands
Nigeria
Nigeria
North Korea
Paraguay
Paraguay
Paraguay
Paraguay
Paraguay
Paraguay
Peru
Poland
Portugal
Romania
Romania
Romania
Scotland
Scotland
Senegal
South Africa
South Korea
South Korea
Spain
Spain
Spain
Sweden
Sweden
Sweden
Sweden
Sweden
Switzerland
Tunisia
Turkey
Turkey
Turkey
Ukraine
Uruguay
Uruguay
Uruguay
Uruguay
Uruguay
USA
USA
USSR
USSR
USSR
Wales
Yugoslavia
Yugoslavia
Yugoslavia
Yugoslavia
Yugoslavia
Yugoslavia
Yugoslavia
Algeria
Algeria
Algeria
Algeria
Angola
Argentina
Argentina
Argentina
Argentina
Argentina
Argentina
Argentina
Argentina
Argentina
Argentina
Argentina
Argentina
Argentina
Argentina
Argentina
Argentina
Argentina
Argentina
Argentina
Argentina
Argentina
Argentina
Argentina
Argentina
Argentina
Australia
Austria
Austria
Austria
Austria
Austria
Austria
Austria
Austria
Austria
Belgium
Belgium
Belgium
Belgium
Belgium
Belgium
Belgium
Belgium
Belgium
Belgium
Belgium
Belgium
Belgium
Belgium
Bolivia
Bosnia Herz
Bosnia Herz
Bosnia Herz
Bosnia Herz
Brazil
Brazil
Brazil
Brazil
Brazil
Brazil
Brazil
Brazil
Brazil
Brazil
Brazil
Brazil
Brazil
Brazil
Brazil
Brazil
Brazil
Brazil
Brazil
Brazil
Bulgaria
Bulgaria
Cameroon
Cameroon
Chile
Chile
Chile
Chile
Chile
Chile
Chile
Chile
Chile
Chile
Chile
Chile
Chile
Colombia
Colombia
Colombia
Colombia
Colombia
Colombia
Colombia
Colombia
Colombia
Costa Rica
Costa Rica
Costa Rica
Costa Rica
Costa Rica
Costa Rica
Costa Rica
Costa Rica
Costa Rica
Cote dIvoire
Cote dIvoire
Cote dIvoire
Croatia
Croatia
Croatia
Croatia
Croatia
Croatia
Croatia
Croatia
Cuba
Cuba
Cuba
Czech
Czech
Czech
Czech
Czech
Czech
Czech
Czech
Czech Republic
Denmark
Denmark
Denmark
Denmark
Denmark
Denmark
Denmark
Egypt
England
England
England
England
England
England
England
England
England
England
England
England
England
England
England
England
England
France
France
France
France
France
France
France
France
France
France
France
France
France
France
France
France
France
France
France
France
France
France
Germany
Germany
Germany
Germany
Germany
Germany
Germany
Germany
Germany
Germany
Germany
Germany
Germany
Germany
Germany
Germany
Germany
Germany
Germany
Germany
Germany
Germany
Ghana
Ghana
Greece
Greece
Greece
Greece
Greece
Honduras
Honduras
Hungary
Hungary
Hungary
Hungary
Hungary
Hungary
Hungary
Hungary
Hungary
Hungary
Iceland
Iceland
Iran
Iran
Iran
Iran
Iran
Iran
Iraq
Ireland
Ireland
Ireland
Ireland
Israel
Italy
Italy
Italy
Italy
Italy
Italy
Italy
Italy
Italy
Italy
Italy
Italy
Italy
Italy
Italy
Italy
Italy
Italy
Italy
Italy
Japan
Japan
Japan
Japan
Japan
Japan
Kuwait
Kuwait
Mexico
Mexico
Mexico
Mexico
Mexico
Mexico
Mexico
Mexico
Mexico
Mexico
Mexico
Mexico
Mexico
Mexico
Mexico
Mexico
Mexico
Mexico
Mexico
Mexico
Mexico
Mexico
Mexico
Morocco
Morocco
Morocco
Morocco
Morocco
Morocco
Morocco
Netherlands
Netherlands
Netherlands
Netherlands
Netherlands
Netherlands
Netherlands
Netherlands
Netherlands
Netherlands
New Zealand
New Zealand
New Zealand
New Zealand
Nigeria
Nigeria
Nigeria
Nigeria
Nigeria
Nigeria
Nigeria
Nigeria
North Korea
North Korea
North Korea
North Korea
Northern Ireland
Northern Ireland
Norway
Norway
Norway
Norway
Panama
Paraguay
Paraguay
Paraguay
Paraguay
Paraguay
Paraguay
Paraguay
Peru
Peru
Peru
Peru
Poland
Poland
Poland
Poland
Poland
Poland
Poland
Portugal
Portugal
Portugal
Portugal
Portugal
Portugal
Portugal
Portugal
Portugal
Portugal
Portugal
Portugal
Romania
Romania
Romania
Romania
Romania
Romania
Romania
Russia
Russia
Russia
Russia
Russia
Russia
Russia
Russia
Russia
Saudi Arabia
Saudi Arabia
Saudi Arabia
Scotland
Scotland
Scotland
Scotland
Scotland
Scotland
Scotland
Scotland
Scotland
Senegal
Senegal
Senegal
Senegal
Senegal
Serbia
Serbia
Serbia
Serbia
Serbia
Slovakia
Slovenia
Slovenia
Slovenia
Slovenia
Slovenia
South Africa
South Africa
South Africa
South Africa
South Korea
South Korea
South Korea
South Korea
South Korea
South Korea
South Korea
Spain
Spain
Spain
Spain
Spain
Spain
Spain
Spain
Spain
Spain
Spain
Spain
Spain
Spain
Spain
Spain
Spain
Spain
Spain
Spain
Spain
Spain
Spain
Sweden
Sweden
Sweden
Sweden
Sweden
Sweden
Sweden
Sweden
Sweden
Sweden
Sweden
Switzerland
Switzerland
Switzerland
Switzerland
Switzerland
Switzerland
Switzerland
Switzerland
Switzerland
Switzerland
Switzerland
Switzerland
Switzerland
Togo
Tunisia
Tunisia
Tunisia
Tunisia
Tunisia
Tunisia
Tunisia
Tunisia
Tunisia
Turkey
Turkey
Turkey
Turkey
Turkey
UAE
UAE
Ukraine
Ukraine
Ukraine
Uruguay
Uruguay
Uruguay
Uruguay
Uruguay
Uruguay
Uruguay
Uruguay
Uruguay
Uruguay
Uruguay
Uruguay
Uruguay
Uruguay
Uruguay
Uruguay
USA
USA
USA
USA
USA
USA
USA
USA
USA
USA
USSR
USSR
USSR
USSR
USSR
USSR
USSR
USSR
USSR
USSR
USSR
USSR
USSR
USSR
Wales
Wales
Yugoslavia
Yugoslavia
Yugoslavia
Yugoslavia
Yugoslavia
Yugoslavia
Yugoslavia
Yugoslavia
Yugoslavia
Yugoslavia
Yugoslavia
Yugoslavia
Yugoslavia
Yugoslavia
Yugoslavia
Yugoslavia
Yugoslavia
Yugoslavia

In [71]:
print(df2[df2.LenCup == 1].Country.value_counts().index[0])

Brazil