## 킹카운티 주거지 가격예측문제 데이터

In [1]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/kingcountyprice/train.csv')
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,8961990160,20150413T000000,567500.0,3,2.50,2080,4556,2.0,0,0,...,8,2080,0,1999,0,98074,47.6036,-122.014,1530,5606
1,9455200205,20140604T000000,525000.0,3,2.00,1540,7800,1.0,0,0,...,8,1540,0,2004,0,98125,47.7041,-122.288,1510,7800
2,7853220670,20140918T000000,540000.0,3,2.50,2860,8935,2.0,0,0,...,8,2860,0,2004,0,98065,47.5336,-121.855,2650,6167
3,3298201170,20141110T000000,350000.0,3,1.00,940,7811,1.0,0,0,...,6,940,0,1959,0,98008,47.6195,-122.118,1180,7490
4,7972604355,20140521T000000,218000.0,3,1.00,1020,7874,1.0,0,0,...,7,1020,0,1956,0,98106,47.5175,-122.346,1290,7320
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17285,9264930970,20150311T000000,345000.0,4,2.75,2200,13498,2.0,0,0,...,8,2200,0,1987,0,98023,47.3148,-122.350,2190,11850
17286,4206901215,20140612T000000,920000.0,4,3.25,2420,4000,1.5,0,0,...,9,1870,550,1911,0,98105,47.6567,-122.325,1810,4000
17287,3793500550,20140808T000000,289950.0,3,2.50,1670,6186,2.0,0,0,...,7,1670,0,2002,0,98038,47.3668,-122.031,2390,6924
17288,7787920080,20140616T000000,492500.0,5,2.50,2570,9962,2.0,0,0,...,8,2570,0,2006,0,98019,47.7275,-121.957,2890,9075
17289,321030010,20141015T000000,310000.0,4,2.50,2310,7384,2.0,0,0,...,8,2310,0,2010,0,98042,47.3737,-122.165,2310,7800

bedrooms 의 빈도가 가장 높은 값을 가지는 데이터들의 price의 상위 10%와 하위 10%값의 차이를 구하여라

빈도 -> value_counts().index[0]

In [20]:
df[df['bedrooms'] == df['bedrooms'].value_counts().index[0]].price.quantile(0.9) - df[df['bedrooms'] == df['bedrooms'].value_counts().index[0]].price.quantile(0.1)

505500.0

In [22]:
# df[df['bedrooms'] == df['bedrooms'].value_counts().index[0]].price.quantile(0.1) # 하위 10%